input[type='checkbox'] {
	margin-right:8px;
}
input[type='checkbox']:after {
	width: 20px;
	height: 20px;
	border-radius: 20px;
	top: -2px;
	left: -3px;
	position: relative;
	background-color: #d1d3d1;
	content: '';
	display: block;
	visibility: visible;
	border: 2px solid white;
}
input[type='checkbox']:checked:after {
	width: 20px;
	height: 20px;
	border-radius: 20px;
	top: -2px;
	left: -3px;
	position: relative;
	background-color: #2D7EC0;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid white;
}
.matrix {
	overflow: hidden;
	min-width: 510px;
	display: block;
}

.img-selector input{
	margin:0;padding:0;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
}

.img-selector input:active +.image-selec{opacity: .9;}
.img-selector input:checked +.image-selec{
	-webkit-filter: none;
	-moz-filter: none;
			filter: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.image-selec{
	cursor:pointer;
	height: 160px;width: 160px;
	display:inline-block;
	-webkit-transition: all 100ms ease-in;
	-moz-transition: all 100ms ease-in;
			transition: all 100ms ease-in;
	-webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
	-moz-filter: brightness(1.8) grayscale(1) opacity(.7);
			filter: brightness(1.8) grayscale(1) opacity(.7);
}

#pixelart-smile-face {
	position: absolute;
	animation: smile-face-a 1s infinite;
	-webkit-animation: smile-face-a 1s infinite;
	-moz-animation: smile-face-a 1s infinite;
	-o-animation: smile-face-a 1s infinite;
}
@keyframes smile-face-a {
	0%, 50%{
		box-shadow:  51px 34px 0 #000000, 102px 34px 0 #000000, 51px 51px 0 #000000, 102px 51px 0 #000000, 34px 102px 0 #000000, 119px 102px 0 #000000, 51px 119px 0 #000000, 68px 119px 0 #000000, 85px 119px 0 #000000, 102px 119px 0 #000000;height: 17px; width: 17px;
	}
	50.01%, 100%{
		box-shadow:  51px 34px 0 #000000, 102px 34px 0 #000000, 51px 51px 0 #000000, 102px 51px 0 #000000, 17px 68px 0 #000000, 136px 68px 0 #000000, 34px 85px 0 #000000, 119px 85px 0 #000000, 51px 102px 0 #000000, 68px 102px 0 #000000, 85px 102px 0 #000000, 102px 102px 0 #000000, 119px 102px 0 #000000, 85px 119px 0 #000000, 119px 119px 0 #000000, 85px 136px 0 #000000, 102px 136px 0 #000000, 119px 136px 0 #000000;height: 17px; width: 17px;
	}
}

#pixelart-pacman {
	position: absolute;
	animation: pac-a 1s infinite;
	-webkit-animation: pac-a 1s infinite;
	-moz-animation: pac-a 1s infinite;
	-o-animation: pac-a 1s infinite;
}
@keyframes pac-a {
	0%, 50%{
		box-shadow:  51px 17px 0 #000000, 68px 17px 0 #000000, 85px 17px 0 #000000, 102px 17px 0 #000000, 34px 34px 0 #000000, 119px 34px 0 #000000, 17px 51px 0 #000000, 136px 51px 0 #000000, 17px 68px 0 #000000, 136px 68px 0 #000000, 17px 85px 0 #000000, 85px 85px 0 #000000, 102px 85px 0 #000000, 119px 85px 0 #000000, 136px 85px 0 #000000, 17px 102px 0 #000000, 136px 102px 0 #000000, 34px 119px 0 #000000, 119px 119px 0 #000000, 51px 136px 0 #000000, 68px 136px 0 #000000, 85px 136px 0 #000000, 102px 136px 0 #000000;height: 17px; width: 17px;
	}
	50.01%, 100%{
		box-shadow:  51px 17px 0 #000000, 68px 17px 0 #000000, 85px 17px 0 #000000, 102px 17px 0 #000000, 34px 34px 0 #000000, 119px 34px 0 #000000, 17px 51px 0 #000000, 102px 51px 0 #000000, 17px 68px 0 #000000, 85px 68px 0 #000000, 17px 85px 0 #000000, 85px 85px 0 #000000, 17px 102px 0 #000000, 102px 102px 0 #000000, 34px 119px 0 #000000, 119px 119px 0 #000000, 51px 136px 0 #000000, 68px 136px 0 #000000, 85px 136px 0 #000000, 102px 136px 0 #000000;height: 17px; width: 17px;
	}
}

#pixelart-new-life {
	position: absolute;
	animation: new-life-a 1s infinite;
	-webkit-animation: new-life-a 1s infinite;
	-moz-animation: new-life-a 1s infinite;
	-o-animation: new-life-a 1s infinite;
}
@keyframes new-life-a {
	0%, 16.7%{
		box-shadow:  34px 51px 0 #000000, 51px 51px 0 #000000, 85px 51px 0 #000000, 102px 51px 0 #000000, 17px 68px 0 #000000, 68px 68px 0 #000000, 119px 68px 0 #000000, 17px 85px 0 #000000, 119px 85px 0 #000000, 34px 102px 0 #000000, 102px 102px 0 #000000, 51px 119px 0 #000000, 85px 119px 0 #000000, 68px 136px 0 #000000;height: 17px; width: 17px;
	}
	16.71%, 33.3%{
	box-shadow:  34px 51px 0 #000000, 51px 51px 0 #000000, 85px 51px 0 #000000, 102px 51px 0 #000000, 17px 68px 0 #000000, 34px 68px 0 #000000, 68px 68px 0 #000000, 119px 68px 0 #000000, 17px 85px 0 #000000, 34px 85px 0 #000000, 119px 85px 0 #000000, 34px 102px 0 #000000, 102px 102px 0 #000000, 51px 119px 0 #000000, 85px 119px 0 #000000, 68px 136px 0 #000000;height: 17px; width: 17px;
	}
	33.309999999999995%, 50%{
		box-shadow:  34px 51px 0 #000000, 51px 51px 0 #000000, 85px 51px 0 #000000, 102px 51px 0 #000000, 17px 68px 0 #000000, 34px 68px 0 #000000, 51px 68px 0 #000000, 68px 68px 0 #000000, 119px 68px 0 #000000, 17px 85px 0 #000000, 34px 85px 0 #000000, 51px 85px 0 #000000, 119px 85px 0 #000000, 34px 102px 0 #000000, 51px 102px 0 #000000, 102px 102px 0 #000000, 51px 119px 0 #000000, 85px 119px 0 #000000, 68px 136px 0 #000000;height: 17px; width: 17px;
	}
	50.01%, 66.7%{
		box-shadow:  34px 51px 0 #000000, 51px 51px 0 #000000, 85px 51px 0 #000000, 102px 51px 0 #000000, 17px 68px 0 #000000, 34px 68px 0 #000000, 51px 68px 0 #000000, 68px 68px 0 #000000, 119px 68px 0 #000000, 17px 85px 0 #000000, 34px 85px 0 #000000, 51px 85px 0 #000000, 68px 85px 0 #000000, 119px 85px 0 #000000, 34px 102px 0 #000000, 51px 102px 0 #000000, 68px 102px 0 #000000, 102px 102px 0 #000000, 51px 119px 0 #000000, 68px 119px 0 #000000, 85px 119px 0 #000000, 68px 136px 0 #000000;height: 17px; width: 17px;
	}
	66.71000000000001%, 83.3%{
		box-shadow:  34px 51px 0 #000000, 51px 51px 0 #000000, 85px 51px 0 #000000, 102px 51px 0 #000000, 17px 68px 0 #000000, 34px 68px 0 #000000, 51px 68px 0 #000000, 68px 68px 0 #000000, 85px 68px 0 #000000, 119px 68px 0 #000000, 17px 85px 0 #000000, 34px 85px 0 #000000, 51px 85px 0 #000000, 68px 85px 0 #000000, 85px 85px 0 #000000, 119px 85px 0 #000000, 34px 102px 0 #000000, 51px 102px 0 #000000, 68px 102px 0 #000000, 85px 102px 0 #000000, 102px 102px 0 #000000, 51px 119px 0 #000000, 68px 119px 0 #000000, 85px 119px 0 #000000, 68px 136px 0 #000000;height: 17px; width: 17px;
	}
	83.31%, 100%{
		box-shadow:  34px 51px 0 #000000, 51px 51px 0 #000000, 85px 51px 0 #000000, 102px 51px 0 #000000, 17px 68px 0 #000000, 34px 68px 0 #000000, 51px 68px 0 #000000, 68px 68px 0 #000000, 85px 68px 0 #000000, 102px 68px 0 #000000, 119px 68px 0 #000000, 17px 85px 0 #000000, 34px 85px 0 #000000, 51px 85px 0 #000000, 68px 85px 0 #000000, 85px 85px 0 #000000, 102px 85px 0 #000000, 119px 85px 0 #000000, 34px 102px 0 #000000, 51px 102px 0 #000000, 68px 102px 0 #000000, 85px 102px 0 #000000, 102px 102px 0 #000000, 51px 119px 0 #000000, 68px 119px 0 #000000, 85px 119px 0 #000000, 68px 136px 0 #000000;height: 17px; width: 17px;
	}
}
